<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% if @index_count.present? && @index_count > 5 %>
  <h2>You have viewed this page <%= "#{@index_count} " 'time'.pluralize(@index_count) %></h2>
<% end %>

<ul class="catalog">
  <%# Only update products that have changed %>
  <% cache @products do %>
    <%# Display all products in the catalog %>
    <% @products.each do |product| %>
      <%# Only update the changes to the product, not the entire product %>
      <% cache product do %>
        <li>
          <%# Product Image %>
          <%= image_tag(product.image_url) %>

          <%# Product Title %>
          <h2><%= product.title %></h2>

          <%# Product Description %>
          <p>
            <%= sanitize(product.description) %>
          </p>

          <%# Product Price %>
          <div class="price">
            <%= number_to_currency(product.price) %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>